[2020-01-11 21:04] federicotdn opened #1 "screenshots"
![Screenshot from 2020-01-11 21-52-28](https://user-images.githubusercontent.com/6868935/72210619-5b650880-34be-11ea-8916-f03d151ccc9e.png)
![Screenshot from 2020-01-11 21-55-10](https://user-images.githubusercontent.com/6868935/72210620-5bfd9f00-34be-11ea-9f4a-6e3339a84d40.png)

[2020-01-11 21:04] #1 closed

[2020-01-14 07:27] DamienCassou opened #2 "Embedding requests and responses in an org document"
Hi,

I've been using restclient for quite some time and your package seems a really nice improvement over it. I will try it. I especially like the fact that inner nodes inherit properties from their ancestors, making it easy to change the url or credentials.

Probably out of scope but still related: What I would really like is to have an org document with requests, answers and text describing both

[2020-01-15 00:59] federicotdn commented on #2
Thanks for the feedback!

In the future I might try switching from Outline to Org for this package. This should allow using Verb + all the Org utilities at the same time. Regarding the storage of responses, for this package I have decided not to have them included in the request files. Maybe it would be possible to store them on a separate file? E.g. if you had a `twitter-api.verb` file, then resp

[2020-01-16 09:17] DamienCassou commented on #2
You could certainly do that but that wouldn't be useful for me. I'm looking for a document which contains some story, some requests and some answers. Maybe an `ob-verb` package could be useful.

[2020-01-16 09:17] DamienCassou commented on #2
You may close this issue. Thank you for answering.

[2020-01-16 22:41] federicotdn commented on #2
No problem. I'll look more into this when I get around to making Verb use Org instead of Outline. I also like your idea of integrating it with Babel.

[2020-01-16 22:41] #2 closed

[2020-01-24 01:15] federicotdn commented on #2
Hey @DamienCassou, I decided to migrate Verb to use Org mode, and I ended up implementing Babel integration as well. Here's the doc for the new feature: https://github.com/federicotdn/verb#babel-integration

(the package will be updated on the next MELPA build)

[2020-01-24 03:24] taudep commented on #2
Really cool. I look forward to checking this out....

On Thu, Jan 23, 2020 at 8:15 PM Federico Tedin <notifications@github.com>
wrote:

[2020-01-24 20:11] paulbdavis opened #3 "URLs with underscores are displayed with org formatting"
When there are underscores in URLs or in other stuff (like request bodies, headers) org mode displays them as being a subscript

`get /endpoint?page_size=99` turns into this:

![verb](https://user-images.githubusercontent.com/2730634/73100524-f096d280-3eaa-11ea-8926-8efaf858c010.png)

[2020-01-24 21:05] federicotdn commented on #3
Hey @paulbdavis

The docs for `org-use-sub-superscripts` mention this:

So maybe I could make `verb-mode` set buffer-locally this variable to `{}`, so that there's less change of this happening (but may still happen if you do `foo_{bar}`). What do you think of that?

[2020-01-24 23:16] buicaocuong commented on #3
Vào 25-01-2020 03:11, "Paul Davis" <notifications@github.com> đã viết:

bodies, headers) org mode displays them as being a subscript

[2020-01-24 23:47] buicaocuong commented on #3
Hú

[2020-01-24 23:48] buicaocuong commented on #3
9.uk

[2020-01-24 23:51] federicotdn commented on #3
Let's try to keep the conversation on-topic. Thanks.

[2020-01-27 15:54] peterhoeg opened #4 "Feature Request - extract headers for use as a variable"
One example would be a JWT token that is returned which should be used for future requests. It is of course possible to simply define it as a variable manually with copy/paste but it would be fantastic to have it made possible in a more structured manner.

[2020-01-27 18:20] federicotdn commented on #3
As I want to avoid messing with users' Org configs, for the moment I recommend you use file-locals to set `org-use-sub-superscripts` to `{}`:

[code]

Hope it's useful!

[2020-01-27 18:20] #3 closed

[2020-01-27 18:23] federicotdn commented on #4
For the moment, the closest we can get to this is using the `verb-last` variable, which stores the last response. If you include `{{(oref verb-last body)}}` anywhere in your request spec, it'll include the body of that last response. The problem is that then the last response will be overwritten with a new one, that doesn't include the JWT token.

I'll look into ways particular responses can be sa

[2020-01-27 21:59] federicotdn commented on #4
@peterhoeg please check if this is useful! https://github.com/federicotdn/verb#storing-responses-by-key

[2020-01-28 09:13] DamienCassou opened #5 "Can't make ob-verb work"
Here is an example org document that doesn't work:

[code]

As you can see, the `curl` command doesn't include the `Authorization` header.

[2020-01-28 11:05] federicotdn commented on #5
Hey @DamienCassou, you should include the whole request (headers and all) in the source block:

[code]

I'll change the README today so that this is shown more clearly.

Also when exporting, there's no need to define the output mode (`:wrap src ob-verb-response`), but you can do it anyways.

[2020-01-28 13:07] DamienCassou commented on #5
Are you saying that it is not possible to inherit headers anymore?

[2020-01-28 17:01] federicotdn commented on #5
You still can!
[code]

In this example, `User-Agent` will be inherited by the request inside the Babel source block.

[2020-01-28 22:07] paulbdavis commented on #3
Yeah, the local variable solution works well. You may consider adding it to the README.

[2020-01-28 22:57] federicotdn commented on #3
Good idea, thanks.

[2020-01-29 07:46] DamienCassou commented on #5
Thank you for your answer!

[2020-01-29 07:46] #5 closed

[2020-01-29 07:48] DamienCassou opened #6 "ob-verb: only export response body"
When using ob-verb, is it possible to only get the response body, omiting the response headers?

[2020-01-29 07:53] federicotdn commented on #6
That’s a feature I haven’t added yet because I wasn’t sure what the ideal way to present it was.

Maybe the `:op send` argument could be expanded so that it now can take the value of `:op send get-headers` or `:op send get-body`? (Would default to `:op send get-all`)

[2020-01-29 08:42] DamienCassou commented on #6
Federico Tedin <notifications@github.com> writes:

This seems reasonable but I'm not an expect in org-babel.

--
Damien Cassou

"Success is the ability to go from one failure to another without
losing enthusiasm." --Winston Churchill

[2020-01-29 17:34] rycee opened #7 "Trailing newline characters in body"
Thanks for this nice software, I'm using it quite a lot nowadays! One thing that I was struggling with today – for longer than I care to admit – is that any newline after the request body is included in the request. Admittedly this is quite logical but I was still caught by it and perhaps others are as well?

More specifically, consider the document
[code]
that is, including a newline character be

[2020-01-29 17:39] federicotdn commented on #7
Hey @rycee! Thanks for the detailed report. The behavior you described is expected, the HTTP body is exactly what's below the headers and before the next heading.

The reason it's like this is that I wanted to provide a mechanism to describe HTTP bodies as precisely as possible. The only problem with the solution is that readability is lost, because then you need to stick your headings to the prev

[2020-01-29 19:22] rycee commented on #7
Yeah, in retrospective I agree it is expected behavior. I think your proposed solution with optional trimming is perfect since it would be possible to have space between document sections 🙂

[2020-01-29 20:52] federicotdn commented on #6
No problem; `:op` is just an argument I invented anyways. So we are free to choose how it works exactly.

[2020-01-29 22:52] federicotdn commented on #7
I've added a new customizable variable `verb-trim-body-end`, it should be available to use on the next MELPA build. Hope it's useful :sunglasses:

[2020-01-29 23:46] federicotdn commented on #6
Just pushed a new option to use `:op send get-headers` or `:op send get-body` on source blocks. It should be out on the next MELPA build.

[2020-01-30 02:20] gopar opened #8 "Verb is not using proxy"
Hey! Thanks for the awesome package.

One thing I've noticed is that when the proxy is set, it won't use it. I verified by hitting `https://api.ipify.org?format=json` when the proxy is configured and getting a diff ip besides the proxy.

I've configured the proxy to be something like the following
[code]

Any ideas?

Also, any way to configure the use of proxy in the org file like `template` ? Tha

[2020-01-30 09:06] DamienCassou commented on #6
Awesome, it works great! Thank you.

[2020-01-30 09:06] #6 closed

[2020-01-30 14:08] vinikira opened #9 "Feature Request - import request from curl"
First, congratulations for this awesome project!

Is there a possibility of make a feature that import from curl to Verb format, like Postman do?

I'd read a bit of code (specifically the export curl function) to try help with a PR, but my Elisp is terrible :disappointed:.

[2020-01-30 17:39] federicotdn commented on #8
Hey @gopar, thanks for trying that out. I have to admit that I added the proxy variable very early on, without testing it. Now that I've tested it with a local proxy I've realized it doesn't really work as I thought it would. I believe the correct way is this one: https://www.gnu.org/software/emacs/manual/html_node/url/Proxies.html

What I'll do is remove the `verb-using-proxy` variable (as it doe

[2020-01-30 17:52] federicotdn commented on #9
Hey @vinikira, thanks!!

It should be doable. I was thinking of adding a general import system sometime, so that adding new import functions could be done easily. I was thinking of maybe adding the ability to import OpenAPI specifications, but that would be relatively time consuming. Curl would probably take less time! I've written this down as something to work on in the future.

[2020-01-30 20:50] federicotdn opened #10 "Add new screenshots"
![n2](https://user-images.githubusercontent.com/6868935/73489132-6bc81f00-43aa-11ea-9815-2d482cb60a40.png)
![n3](https://user-images.githubusercontent.com/6868935/73489133-6bc81f00-43aa-11ea-84c3-d9c1695145d0.png)
![n1](https://user-images.githubusercontent.com/6868935/73489131-6b2f8880-43aa-11ea-82bd-45142b942055.png)

[2020-01-30 20:50] #10 closed

[2020-01-30 22:25] rycee commented on #7
Thanks! Just tried it and the new option works very well.

[2020-01-30 22:25] #7 closed

[2020-02-03 19:52] gopar opened #11 "Show verbose command"
Hey,

Is it possible to show the complete command that `verb` uses to make the http call when using curl?

For example it would show something like this
[code]

The reason I'm asking this is to figure out what `verb` is doing b/c when calling an external program like `curl` to the desired api call i'm making succeeds without any issue but when using `verb` I start to get errors (eg, status codes 4

[2020-02-03 21:06] federicotdn commented on #11
Hey @gopar,
Verb uses the internal Emacs `url` library to send requests, it doesn't use curl.

If you wish to debug what's going on when Emacs sends the request, I recommend you do `(setq url-debug t)`, and then send your request again. After that, switch to the `*URL-DEBUG*` buffer to see what `url` has logged.

Do you have more details on the request that's breaking on Verb but not on curl? I'd

[2020-02-04 22:52] federicotdn commented on #4
Closing as this is implemented:

First, select a response:
- Use `verb-last` to get the last response
- Use `(verb-stored-response "xyz")` to get a stored response by key

Then, read from it (for example using `verb-last`):
- Use `(verb-json-get (oref verb-last body) "id")` to extract contents from the body
- Use `(verb-headers-get (oref verb-last headers) "Location")` to extract contents from the

[2020-02-04 22:52] #4 closed

[2020-02-04 22:53] federicotdn commented on #8
Hey @gopar, any news on this? Could you get it to work with your proxy?

[2020-02-05 04:58] peterhoeg commented on #4
Thanks for doing this - I haven't had the time to try it out.

[2020-02-07 00:03] gopar commented on #8
Hey, wasn't able to get it to work since my proxy requires credentials and figure out how to get it right

[2020-02-11 07:34] federicotdn commented on #8
Thanks for testing this. Since this project depends on `url.el`, the only thing I can do for the moment is point at https://www.gnu.org/software/emacs/manual/html_node/url/Proxies.html.

[2020-02-11 07:34] #8 closed

[2020-03-01 03:13] paulbdavis opened #12 "Option to not use side-window for response/header buffers"
I'm using `frames-only-mode` and it would be nice to be able to set the option for the response buffers to be normal rather than side windows, this way they will open up like most other buffers thus creating a new frame with `frame-only-mode` enabled.

Looking at the source I don't see `display-buffer-in-side-window` used anywhere... not sure where to start hacking on that (from what I can tell it

[2020-03-01 14:16] federicotdn commented on #12
Hey @paulbdavis,

To switch to the response buffer, I'm actually using the `switch-to-buffer-*` functions (see [here](https://github.com/federicotdn/verb/blob/master/verb.el#L1511)). I'm not sure how they work exactly with `frames-only-mode`, I tried them quickly and it seemed to work correctly (the responses where shown in separate frames).

To show the response headers, I'm actually using an ugl

[2020-03-01 23:50] federicotdn commented on #12
I've pushed 542a98712bf764ae7aecc9941ee45d99e857a021 to master, which removes the `verb--split-window` function and replaces its uses with either `display-buffer` and/or `switch-to-buffer`. I believe this should make Verb completely compatible with `frames-only-mode`. Please check if this new change is working for you.

[2020-03-02 22:24] paulbdavis commented on #12
I updated to 97e6434 and it's still opening up in a side window (if I change to the window and try to `C-x 1` it says it's a side window)

[2020-03-03 00:15] federicotdn commented on #12
Interesting! I've tried using that same version of Verb, with the latest version of `frames-only-mode`, using `emacs -Q`. When I send a request with `C-c C-r C-r`, the response is opened on a new frame.

Maybe we're using different Emacs versions? I'm on 26.3 currently. Or maybe you have some customizations applied on top of `frames-only-mode`. Could you could try with `emacs -Q` as well loading o

[2020-03-06 03:53] peng051410 opened #13 "Can verb support run from command line?"
 Can I execute the request from the command line? for example:
`emacs -nw -Q --eval (verb-send-request-xxxx)`

[2020-03-06 20:45] federicotdn commented on #13
Hey @peng051410! Thanks for your interest in the project.

What you mention is an interesting use case, I hadn't considered it. How would you specify the request to be made to Verb itself? I can imagine two options: the first one, reading the request from stdin:

[code]

Or the second one, reading a request from a file:

[code]

And then, what would you output then? It could be just the request bo

[2020-03-09 02:41] peng051410 commented on #13
I am very interested in the implementation of the second, and if so, I will call cass with other tools

[2020-03-09 20:37] federicotdn commented on #13
I think this type of usage is better fit for a tool like `curl`. Using Verb in batch mode implies that you lose some of the interactive functionality like `verb-var` or `C-u C-c C-r C-r` etc., and at that point `curl` makes more sense to use.

To see if it was possible though, I wrote this small function:
[code]

Which can be used like this (assuming the function is stored in `function.el` in the

[2020-03-09 20:37] #13 closed

[2020-03-09 20:38] federicotdn commented on #11
Closing as Verb does not use `curl` as a backend.

[2020-03-09 20:38] #11 closed

[2020-03-11 02:19] paulbdavis commented on #12
This was on emacs 27 (not sure which specific revision, it was from before release). I'll try to reproduce with emacs -Q and report back

[2020-03-11 17:02] federicotdn commented on #12
Thanks for that. In either case, there's also the option of modifying Verb itself so that it adapts better to frame-only workflows (e.g. like adding a user variable `verb-use-frames` or similar). That may also be useful for people that prefer frames but that don't use `frames-only-mode`.

[2020-03-11 18:32] paulbdavis commented on #12
Hm, so when I start emacs with `emacs -Q` and load up the packages:

[code]

Everything works as I would expect, even after applying my other settings in my init.el. There must be something else interacting with it. Closing this for now as it's not actually an issue with either package.

[2020-03-11 18:32] #12 closed

[2020-03-12 07:49] peng051410 commented on #13
Thank you very much!

[2020-03-12 12:51] kamoii opened #14 "[ob-verb] Request body including multibyte characters cause error"
Trying to send a request which includes multibyte characters with `ob-verb` causes error.
[code]
Following message is outputed to `*Messages*`.
[code]

[2020-03-12 19:23] federicotdn commented on #14
Hi @kamoii, thanks for reporting this. I've managed to reproduce it locally and will look into it.

[2020-03-12 19:31] federicotdn commented on #14
Interesting: if I remove the `Accept` header, it appears to work

[2020-03-12 20:14] federicotdn commented on #14
I've pushed a fix to `master`, please check if it works for you when the next MELPA build picks it up.

[2020-03-13 00:28] kamoii commented on #14
@federicotdn Thank you! Installed the latest version, and it works!

[2020-03-13 00:28] #14 closed

[2020-03-15 20:40] ruderngespra opened #15 "After package update several requests throw error instead of returning response"
Thank you for your work on this really helpful mode!

I used to use it a lot, but after a package update I am no longer able to receive responses from some requests to the contentful apis that work fine with every other tool (e.g. curl, the browser or postman). Instead, I get the following error message: `error in process filter: Wrong type argument: sequencep, fundamental-mode`

The content-type

[2020-03-15 21:27] federicotdn commented on #15
Hey @ruderngespra! Thanks for reporting this. The problem was with the way I was handling responses with unknown content types. I have pushed a fix to `master`, please check if it works for you when MELPA picks it up on the next build.

Note: the content type `application/vnd.contentful.management.v1+json` will be handled using Fundamental mode by default, because it does not match the regexp `app

[2020-03-16 20:45] ruderngespra commented on #15
Hello @federicotdn, and thank you so much for your quick response! Your fix seems to work perfectly! Thank you for your work!

[2020-03-16 20:45] #15 closed

[2020-04-02 04:53] peterhoeg opened #16 "Feature Request - make output buffer mode configurable"
Currently the results buffer is forced to `js-mode` ref https://github.com/federicotdn/verb/blob/master/verb.el#L1271

It would be great if that could be configurable as emacs has a `json-mode`. Some people might prefer `js2-mode` and so on.

[2020-04-02 20:05] federicotdn commented on #16
Hey @peterhoeg, you technically could do this by customizing the `verb-content-type-handlers` variable, and adding your own handler for `application/json`. But maybe it would be easier for users to just use the default handler (`verb--handler-json`), but allow customizing what mode that function uses internally (currently it's `js-mode`, as you said). What do you think?

[2020-04-03 05:53] peterhoeg commented on #16
I did actually have a look at verb-content-type-handlers before opening this
	issue when I was looking at how the mode was being determined but thought
	this would be something others would like too hence the request for a knob.

Yes, that sounds like the plan.

[2020-04-04 05:44] peterhoeg commented on #16
Strange, this seems to completely break verb for me.

If I try doing a request that definitely worked earlier in the week, it simply sits there and doesn't produce any output into the HTTP buffer.

Calling the curl export function and running that in a terminal works.

The only odd thing abou this setup is that it is over an SSH tunnel (the endpoint uses an IP whitelist), so for curl I need to add

[2020-04-04 09:29] federicotdn commented on #16
Hmmm that's strange, since I didn't really modify anything related to `url.el` (the change was super small, really, and not relating to the connection process). Could you try that again, but this time using the Verb version you were using previously?

[2020-04-05 14:02] peterhoeg commented on #16
I'll try to do a bisect to find out where things break - realistically it will only be Tue or Wed.

[2020-04-28 09:35] peterhoeg commented on #16
So `verb` is perfectly fine. It was a general `gnutls` issue on emacs. And this change works wonderfully as well, thank you!

[2020-04-28 12:30] peterhoeg commented on #16
Closing as it was fixed in https://github.com/federicotdn/verb/commit/e56a4377fc1685f4408a4a27ad115c3f907513de

[2020-04-28 12:30] #16 closed

[2020-05-06 10:32] sulami opened #17 "Non-verb Babel source blocks for bodies"
I'm using verb for several REST APIs which have some quite large JSON bodies in requests. I'd really appreciate if I could use a source block to be able to use `org-edit-special` and get proper syntax-highlighting/indentation/auto-completion instead of having to work in the org-file directly. verb seems to only support `verb-mode` source blocks, which do not satisfy this use case.

I'm wondering i

[2020-05-06 16:25] lawrsp opened #18 "cannot send Authorization header"
this is  :

[code]
and the sent request does't  contains Authorization header
but exported curl text contains that correctly

[2020-05-06 17:27] federicotdn commented on #17
Hey, thanks for bringing this up. I think it's a good idea, and the implementation for it will be relatively short I believe. I'll let you know when it's done.

[2020-05-06 17:36] federicotdn commented on #18
Hi, I've tested this and it appears to be working for me. Here's the file I tested:

[code]

I ran the request against the server implemented in this repo's `server.py`, and the Authorization header was received correctly.

Would you mind evaluating `(setq url-debug t)`, and sending the request again? Then, the contents of the request made should appear in the `*URL-DEBUG*` buffer. There you can c

[2020-05-06 17:52] lawrsp commented on #18
ok, this is the debug output :

[code]

[2020-05-06 18:59] sulami commented on #17
Federico Tedin <notifications@github.com> writes:

Thanks for the quick reply, and thanks for picking this up so quickly.
Let me know if I can do anything to help.

[2020-05-06 19:05] federicotdn commented on #17
Thanks :+1:
I've added this on `master`, please check if it works for you when MELPA builds it on the next run.

[2020-05-06 19:20] federicotdn commented on #18
It seems your endpoint is performing a redirect:
[code]

`url.el` is then removing the `Authorization` header before making the second request, probably for security reasons (see https://stackoverflow.com/questions/28564961/authorization-header-is-lost-on-redirect).

**but**

It seems that `url.el` is checking `Authorization`, and won't remove `authorization` (small caps). So if you change your he

[2020-05-07 05:51] lawrsp commented on #18
@federicotdn thank you
I checked my server, as you said, yes, it redirect /users/ to /users
so I just need to change the list subtree request (remove the path `/`)

[code]
it works fine now

[2020-05-07 05:51] #18 closed

[2020-05-07 08:56] sulami commented on #17
Federico Tedin <notifications@github.com> writes:

I just pulled and tried this, seems to work just as expected. Thanks for
the incredible turnaround!

[2020-05-07 09:02] #17 closed

[2020-05-07 17:06] lawrsp opened #19 "Cannot describe key after install verb"
the message is :
[code]

[2020-05-07 17:16] lawrsp commented on #19
just find a PR in spacemacs syl20bnr/spacemacs/pull/13565

[2020-05-07 17:47] lawrsp commented on #19
there is still has the problem before opened an org-mode file

[2020-05-07 19:35] #19 closed

[2020-05-15 10:00] kristianhasselknippe opened #20 "Transforming body of request before sending"
Loving this package!

I'm currently working mainly with a GraphQL API, and finding it would be really nice to express the body of my requests as a GraphQL query block and then transform it, before sending the request, into valid json.

So instead of:
[code]
something like
[code]
Perhaps inside a code block in order to get proper syntax highlighting and indentation behavior.

Is this currently poss

[2020-05-15 17:19] federicotdn commented on #20
Hey @kristianhasselknippe, thanks for the feedback.

What you're suggesting has, in my opinion, two separate parts. The first one would be to add some kind of post-processing mechanism to requests, so that requests can be modified before they are sent. In your case, it would take the request body and put it inside the JSON object.

The second part is syntax highlighting for request bodies. Luckily

[2020-05-16 08:48] kristianhasselknippe commented on #20
@federicotdn That sounds like it would work very well!

[2020-05-16 23:02] federicotdn commented on #20
Ok! I've added a first version of this feature: https://github.com/federicotdn/verb#request-mapping-functions.  It should be available right after the next MELPA build, please check if it works OK for you.

[2020-05-18 14:20] kristianhasselknippe commented on #20
Thanks for doing this so fast @federicotdn! I'll give it a try.

[2020-05-18 14:51] mcraveiro opened #21 "Variables and ob-verb"
Hi Verb developers,

thanks very much for an extremely useful mode. I'm upgrading from restclient to it, using ```ob-verb``` in my regular org-mode file. As part of this work, I am also trying to make my setup slightly more secure by setting  sensitive information in ```authinfo.gpg``` file via epa. I've got it all setup as described here [1], which I wrapped into a function called ```get-password

[2020-05-18 16:47] kristianhasselknippe commented on #20
@federicotdn Works well :) Thanks again!

[2020-05-18 16:51] federicotdn commented on #20
Good to hear!

[2020-05-18 16:51] #20 closed

[2020-05-18 17:03] federicotdn commented on #21
Hey @mcraveiro, in your example you're making use of two unrelated features, code tags and Babel, so I'll explain them separately.

When writing a request specification, you may add `{{...}}` tags anywhere inside the request. Whatever is contained inside these tags will be evaluated as a Elisp expression. So in your case, you would only need to add `{{(get-password "USERNAME")}}` wherever you need

[2020-05-19 09:00] mcraveiro commented on #21
Hi @federicotdn ,

Thanks for the prompt response. Followed your suggestion and updated my code to:

[code]
And that solved all my problems. I now have a very secure org-mode file :-) Thanks very much for all for the project and your help.

[2020-05-19 09:00] #21 closed

[2020-05-27 10:37] mpereira commented on #6
I apologize for commenting on a closed issue, but it seems relevant: does anyone know if it's feasible to make it possible to insert two separate result code blocks on `:op send get-all`? One for the header and the other for the body.

[2020-05-27 17:11] federicotdn commented on #6
Hey! Unfortunately this seems to be a limitation of Babel. When you press C-c C-c, Babel takes the block's contents and sends them to `org-babel-execute:verb`, which itself returns a new string to be used as results. The `org-babel-execute:verb` function itself has no control on how the result is displayed exactly (only the contents).

However, there'll always be an empty line between the response

[2020-05-27 17:29] mpereira commented on #6
I thought that could be the case. Thanks for letting me know!

[2020-06-17 12:10] stig opened #25 "Feature request: integrate with auth-sources for reading tokens"
I frequently use verb with APIs I need to authenticate with, and it would be nice if I could store the tokens in auth-sources. That would allow me to share the file with colleagues, without having to edit out the token first. `{{(verb-var token)}}` would work, but I'd have to manually paste the token every time I open the file.

-----

I'm experimenting with something like:

[code]

I can use this

[2020-06-17 16:50] federicotdn commented on #25
Hey @stig, I'm thinking of ways of exposing the request information to the code being evaluated inside code tags but the thing is, when the tags are being evaluated, the request hasn't been built yet!

For your specific case, I can think of two solutions:
1) Use `verb-var` to set the `host`, and then re-use it with the function you wrote:
[code]

2) Use a [request mapping function](https://github.

[2020-06-17 17:13] stig commented on #25
Either would probably work for me. I think I would prefer 1, especially if `verb-var` takes an optional third argument to use as a default. Then I could do and just hit return to accept the default "example.com" most times, but specify "localhost" if I do local dev.

[code]

[2020-06-17 17:17] federicotdn commented on #25
That's exactly how it works! You won't get prompted though, it'll just silently be set to `example.com`. You can then quickly change it using <kbd>M-x</kbd> `verb-set-var`.

[2020-06-17 18:03] stig commented on #25
Amazing! Thank you for being so responsive! This is the best.

[2020-06-20 20:56] #25 closed

[2020-08-25 11:46] hjudt opened #26 "Looping over results, executing request for every item"
Is it somehow possible to loop over results, sending requests for each item in the results? For example, i have a list of ids which i fetch via get, then for each of these i want to execute a delete request.

[2020-08-31 20:46] federicotdn commented on #26
Hey @hjudt, I think you can achieve this by combining the `Verb-Store` property and a bit of Elisp.

First you would need to store the result of GETting the IDs using `Verb-Store` under, say, `my-ids`:
[code]

Now, calling `(verb-stored-response "my-ids")` will return a `verb-response` EIEIO object, with all the information about that response. You can access JSON information inside there using:
[

[2020-08-31 20:46] #26 closed

[2020-09-03 17:25] dantheobserver opened #27 "Is there a way to set variables in property blocks or on the top level to be consumed at that or deeper levels?"
First and foremost, love this tool! I'm looking for a way in verb to be able to set a property on a certain level via either verb-var and be able to reference it in that level or levels below?  Mainly my use case is that a particular string appears in multiple requests, or the same request multiple times (url/body/etc)

[2020-09-03 21:46] federicotdn commented on #27
Hey @dantheobserver, any variables you set via `verb-var` or `verb-set-var` will be globally available for all requests to use. These variables are local to the buffer you are using when either of these functions is called. Feel free to share an example if you need more details on how this works.

[2020-09-03 23:29] dantheobserver commented on #27
roughly given this structure
[code]
instead of relying on one of the previous sets of some-id, I would like to declare it above all of these with a default value, but trying to place a {{(verb-var some-id "123")}} outside of the strings that appear in the actual request doesn't run.

[2020-09-10 21:57] federicotdn commented on #27
Ok, that's an interesting use case. Have you tried using `eval` in the file variables section at the end of the file?
[code]

[2020-09-11 18:53] dantheobserver commented on #27
That's possible, I figured something more streamlined and integrated with verb in a more idiomatic way.  My proposal perhaps is something like this
[code]

perhaps it's something I can take a look into because some other things I've been using it for include hexifying a string which I'd think would be a great addition to the library,

[2020-09-11 22:41] federicotdn commented on #27
The downside of specifying it there is that it could be interpreted as an HTTP header, because an HTTP header's name can be comprised of any number of printable ASCII characters, sans `:`. So in that case it would make the Verb syntax a bit more difficult, because now there would be special cases on how headers are written. I would like to keep the request specifications as close to the actual HTT

[2020-09-12 02:14] dantheobserver commented on #27
I like that idea, though scoping the vars nearest to the current request so that they may cascade and override lower levels similar to how verb handles the request templates as well.  But yes, this is probably the better solution

[2020-09-19 20:20] hjudt commented on #27
I am also looking for a way to declare variables for requests, possibly inherited to child requests. The README.md tells in section https://github.com/federicotdn/verb#storing-responses-by-key, that "Any properties starting with Verb- (case insensitive) will be added to the request as metadata. Other properties will be ignored". I thought it would be possible to access this metadata in the request

[2020-09-21 22:54] federicotdn commented on #27
@dantheobserver I think making Verb variables override each other in lower levels is not necessary (plus, it would be difficult to implement since code tags are evaluated after the final request has been computed). It is not necessary because from the examples you shared, it seems like you would always use the exact value in any request heading level. If you wanted to use a different value at a ce

[2020-09-21 23:21] dantheobserver commented on #27
I think the vars will work fine, it's just that the entire buffer must be loaded and it isn't directly in the path of the verb flow.  My idea was to have another mechanism with verb to inject constants that are level aware and cascade to whichever request you're making, in real-time without relying on org or emacs specific properties.  I started to look at writing a test and adding it to the org f

[2020-10-07 20:54] federicotdn commented on #27
That does seem like it is very specific to your setup. Would using simple code tags `{{(some-function ...)}}` with a function you've defined yourself be enough? Maybe Verb variables aren't flexible enough for you case.

[2020-11-06 19:42] dantheobserver commented on #27
sorry for the delay, where would the tags go? I'm trying to see if I can eval verb-var somewhere along the lines between the headers and the request but that's not working.

[2020-11-16 21:18] federicotdn commented on #27
No problem - I'm closing this issue then, but feel free to open another one if you think there's a general enhancement you think could be useful for the project.

[2020-11-16 21:18] #27 closed

[2020-11-27 11:09] xuchunyang opened #28 "How to compute a field base on other fields?"
There is an API that requires the Authorization header to be computed at request time, it needs Method, URL and other Headers to compute Authorization, e.g.,

[code]

but I do not want to fill the arguments by hand, It seems I can try `(verb--request-spec-from-hierarchy)` although it's a private function

[code]

but when I use it in verb, it reports

which is not very surprise, it seems both I an

[2020-11-27 13:01] matteoredaelli opened #29 "https requests with certificates?"
I need to do get/post requets to a https site using certificates. I can do it with curl, I'd like to do using this nice package...

[2020-11-27 19:14] federicotdn commented on #28
It looks like this could be solved by applying a user-defined function right before the request is sent. Take a look here: https://github.com/federicotdn/verb/issues/25#issuecomment-645492662. Let me know if it helps!

[2020-11-27 19:16] federicotdn commented on #29
Hi @matteoredaelli. How do you accomplish this using curl? Could you provide an example? I want to be sure I understand what the feature is.

[2020-11-27 19:22] matteoredaelli commented on #29
A sample command is

`curl --cert certificates/prd/client.pem --insecure --key certificates/prd/client_key.pem https://localhost:4242/qrs/dataconnection/full?xrfkey=0123456789abcdef --header "x-qlik-xrfkey: 0123456789abcdef" --header "X-Qlik-User: UserDirectory=internal;UserId=sa_repository"  -H "Content-Type: application/json"`

I asked the same question elsewhere (issues in request.el project) a

[2020-11-27 19:58] xuchunyang commented on #28
Great! It works for one heading, e.g.,

[code]

[code]

However, it does not inherit, right? e.g., this does not work

[code]

I've tried `(setq org-use-property-inheritance t)` but it does not help.

[2020-11-27 19:58] federicotdn commented on #29
Hmm, I think this could be accomplished via some `auth-source` configuration. See here: https://www.gnu.org/software/emacs/manual/html_mono/auth.html#Help-for-users.

Assuming that your `auth-sources` variable contains `"~/.authinfo"`, maybe you could try placing the following contents in your `~/.authinfo` file:
[code]
(note that you might need to make those two paths absolute instead of relative

[2020-11-27 20:16] federicotdn commented on #28
You are right, the property is not inherited. I thought `org-entry-get` would respect the value of `org-use-property-inheritance` but it doesn't by default, unless `INHERIT` is set to `'selective`. I'll push a fix now.

[2020-11-27 20:24] federicotdn commented on #28
Ok! I've pushed a commit to master. Once it's on MELPA you should be able to use `org-use-property-inheritance` set to `t` and make it work.

[2020-11-27 20:28] xuchunyang commented on #28
Thanks. I'll try again after upgrade.

[2020-11-28 04:51] xuchunyang commented on #28
Works perfectly.

[2020-11-28 04:51] #28 closed

[2020-12-06 21:22] xuchunyang opened #30 "How to upload files with multipart/form-data?"
For example, `curl -F file=@1.txt -F file=@2.html localhost:3000` sends these to the server

[code]

the following works, however it is hard to write

[code]

[code]

[2020-12-13 22:50] federicotdn commented on #30
Hey @xuchunyang, thanks for bringing this up. Unfortunately this is not implemented yet, as I've never had to use multipart yet.

I think this is an interesting implementation challenge because one of the ideas of Verb is that the request specifications one writes should be as close as possible to what is actually sent afterwards. For multipart, this clearly would not be practical.

If you have an

[2020-12-13 22:51] federicotdn commented on #29
@matteoredaelli did that work for you? If it did, we can close this issue.

[2020-12-14 15:16] matteoredaelli commented on #29
ok thanks

[2020-12-14 15:16] #29 closed

[2021-01-10 20:39] flashcode commented on #9
First thanks @federicotdn for this project, I like it! ❤️

For your information, I just wrote a small Emacs package to import Postman collections, as verb or restclient format (which I used before switching to verb).
This was just for my own needs, it does not support (yet) all Postman features (PR are welcome).
The package is available here: https://github.com/flashcode/impostman

[2021-01-12 22:33] federicotdn commented on #9
That is great!! I've added it to the README so more users can discover it :+1:

[2021-01-20 05:26] davidshen84 opened #32 "Support syntax highlighting in org babel block"
In normal org block, with no indentation, the syntax highlighting works well. But when the content is indented, all highlighting are removed

For example, the block below does not have syntax highlighting in org-mode. But if you remove the indentation, the highlighting works fine.
[code]

[2021-01-20 10:15] davidshen84 opened #33 "verb-var does not accept var from og-mode bable block"
When trying to evaluate the 2nd block, Emacs prompted to input the value for *v*. Apparently, the `verb-var` function cannot read values provided by the `:var` keyword.

[code]

[2021-02-14 12:53] ananthakumaran opened #34 "Support org-narrow-to-subtree"
It's useful to focus on a single request using `C-x n s`. But verb currently doesn't handle it properly, as it's not checking whether it's inside a narrowed region and ignoring values from the parent heading. This is typically handled by wrapping the operation with save-restriction/widen, similar to save-excursion.

[code]

[2021-02-15 22:03] federicotdn commented on #33
That is correct, Verb currently does not know how to read `var` Babel header arguments.

[2021-03-08 15:41] mcraveiro opened #36 "Allow request headers with underscores"
Hi verb-mode developers,

thank you for an extremely useful Emacs mode, which I use daily. I have one very small request: to allow underscores in HTTP headers. I bumped into an issue at work where they used underscores, and it is apparently legal according to the protocol [1]. In order to get verb-mode to process my requests, I changed the regex (in [2]) as follows:

[code]

_i.e._, added the unde

[2021-03-14 21:12] federicotdn commented on #36
Thanks for bringing this up! Fixed in https://github.com/federicotdn/verb/commit/119514532f12301d7593a0dbe4eee778cc8dcf98

[2021-03-14 21:12] #36 closed

[2021-03-15 08:26] mcraveiro commented on #36
Thanks very much for the fast turn around! Now, I don't want to be that ungrateful customer :-) but may I ask, don't you also have to also update the regex for font-locking headers? The strange thing is I can already see an underscore in there, just not as part of this patch, so it's probably all good. But I'll mention it just in case :-)

[code]

Cheers

[2021-03-15 17:54] federicotdn commented on #36
That's true! Thanks for bringing that up, pushed another change to `master`.

[2021-03-31 21:19] federicotdn commented on #34
Fixed in https://github.com/federicotdn/verb/commit/f8252021af7e6980af6fb47d0c6af992316db12a.
Please check if it works as it should! Thanks

[2021-04-02 16:24] federicotdn commented on #33
Implemented in https://github.com/federicotdn/verb/commit/f9e69bf42eb8108aeee020ed3f58f456e042967f.

[2021-04-02 16:24] #33 closed

[2021-04-26 16:36] mcraveiro opened #37 "Render HTML response in eww"
Hi verb-mode developers,

Thanks very much for a great mode, which I rely upon daily. I have a question related to how responses are processed. Sometimes our API server replies in HTML (when the request is malformed, etc). Is it possible to select the mode of the response buffer so that these requests get handled by eww [1] by any chance? Its not a big issue really, but I noticed there is a ```ver

[2021-04-26 20:44] federicotdn commented on #37
Hello!

I quickly tried to check if there was an easy way to make EWW a handler for `text/html` responses - but there's a couple of problems, mainly, that EWW does its own buffer handling, and that EWW's internal API has changed across Emacs releases (from 27 to `master`, for example). For this reason I think it might be more trouble than it's worth at the moment.

However, your point made me thin

[2021-04-30 21:58] ercdude commented on #30
tnks @xuchunyang for the workaround. I'm dealing with this problem right now and I'm trying to make a function to help with it. Once I find out how to use it with binary data, I try to add something to verb and share with you.

In case anyone has done it already, please share how did you read a binary file and inserted its data to the requisition. My first thought is to read it raw and insert it,

[2021-05-19 13:09] prashantvithani opened #38 "`verb--request-spec-post-process` evaluated twice with babel src block"
`verb--request-spec-from-babel-src-block` calls `verb--request-spec-from-hierarchy` which evaluates post process function.

[code]

[2021-05-19 13:10] prashantvithani commented on #38
Let me know if I'm missing anything or if it was intended behaviour.

[2021-05-24 16:57] #38 closed

[2021-05-25 21:22] federicotdn commented on #37
Closing this as an alternative (hopefully equivalent) solution was added in 2.14.0.

[2021-05-25 21:22] #37 closed

[2021-05-25 21:36] federicotdn commented on #32
Fixed on https://github.com/federicotdn/verb/commit/45897e0ede8168b5b52930232757dc014c11a498

[2021-05-25 21:36] #32 closed

[2021-05-25 22:04] federicotdn commented on #30
Would something like this work for you? I'm trying to find a balance between something that's not too manual, but doesn't try to enforce a specific structure:

[code]

So:
- The `verb-boundary` function automatically returns the value of the boundary. It can optionally be set in the heading Org poperties (`Verb-Boundary: ------abcdef`), otherwise it will be automatically generated.
- The user has

[2021-05-25 22:29] federicotdn commented on #30
Version 2:

[code]

Summary:
- The `verb-boundary` function automatically returns the value of the boundary. It can optionally be set in the heading Org poperties (`Verb-Boundary: ------abcdef`), otherwise it will be automatically generated.
- Boundaries and `Content-Disposition` headers can be inserted using the `verb-part` function. The function has two parameters: `NAME` and `FILENAME` (both op

[2021-05-26 07:17] mcraveiro commented on #37
Sorry I haven't updated my work elpa yet, its a bit of pain to do it so I only do it infrequently. I will do it and provide feedback, I'll use the alternative. Cheers

[2021-05-29 01:19] ercdude commented on #30
@federicotdn nice! this is basically what I'm doing here, but I'm defining these variables manually:
[code]
Using that function seems to help a lot as it solves the `boundary=` internally. I liked that :)

[2021-08-09 21:42] federicotdn commented on #30
Implemented and documented in https://github.com/federicotdn/verb#multipart-data !
Feel free to open a separate issue if something could be improved or fixed.

[2021-08-09 21:42] #30 closed

[2021-11-02 18:30] rodweb opened #40 "Add environments to group related variables"
Hello,

First of all, thanks for the great package! It's been a pleasure to work with it.

To give you some context, I'm coming from [Postman](https://www.postman.com/), which has the concept of [Environments](https://learning.postman.com/docs/sending-requests/managing-environments/) to manage sets of related variables.

The most common use case is having a different set of values for `development

[2021-11-03 19:24] federicotdn commented on #40
Hi @rodweb, that is a cool idea, it would be great to have something like this integrated directly into `verb-mode`.

Some thoughts:
- We could add all this directly into `verb-mode`, without having to add a separate minor mode.
- There should always be an environment selected. It could be named "default", or something similar. This should simplify the code a bit, because we can assume there is al

[2021-11-03 23:47] rodweb commented on #40
- Yeah, no need for a minor mode.
- Do you mean like setting `verb-environments` to `'(("default" . nil)` by default?
- Not sure I follow this one. I'll put some code as a reference bellow.

[code]

For example, do you mean having just `api-url` and `api-token` as Org properties for the API Verb file? If so, I like the idea. It would be cleaner than what I have now.
But I'm not sure how I'd specif

[2021-11-06 16:25] federicotdn commented on #40
What I mean is:
By setting the `verb-env-environments`, you are effectively creating a set of environments that are shared among all `.org` files you open. I can imagine that in some cases, some environments would not be applicable to some files: for example, if I am working on two APIs, Foo and Bar, and each one has a development and production environment (for a total of 4 environments), then yo

[2021-11-12 01:01] rodweb commented on #40
For my current needs, I'd rather have it set per file too.

It would be nice to have an interface like `org-set-property` to write back, but I can see this behaviour being a `defcustom` too.

[2021-11-27 01:30] eggcaker opened #41 "How can set( or update) a header in `Verb-Map-Request` function?"
First thanks for the awesome mode you did. this is not issue but question want to ask .
I want generate a signature with body and some app-key then set it in headers, I found there a function `verb-headers-get` can get header but not `verb-headers-set` to update ?

[2021-11-27 09:23] eggcaker commented on #41
got it

[2021-11-27 09:23] #41 closed

[2022-01-15 08:53] c4710n opened #42 "broken multipart data support."
Hola, Thanks for providing this cool package.

Recently, I met a possible issue about multipart data.

---
As describe in doc, I create a request like this:
[code]

But, the remote server complained that the request is not standard.

Then, I found:
1. In HTTP protocol, the newline char is CRLF(`\r\n`).
2. `verb` sends above request body which is using LF(`\n`) as the newline char.

Some servers ca

[2022-02-14 10:06] #42 closed

[2022-02-14 10:09] federicotdn commented on #42
Fixed in `main` - thanks for reporting this 👍🏻 .

[2022-04-12 23:25] MichaelXavier opened #45 "Multiple headers in a variable"
Hi! I'm using verb from babel and I was wondering if there was any way to take a table, alist, or even just a formatted string with newlines and use it to specify multiple headers. I'm building a hierarchy of org headings where the toplevel one might define a few basic headers, then lower level ones set up multiple auth headers. Ideally, I'd like to avoid having to reiterate every header name expl

[2022-05-19 19:46] bigodel commented on #27
can i get back to this issue with a suggestion? first and foremost, i LOVE Verb! it allows me to describe API's structure, example usages and documentation all in the same place. i was a user of Restclient before it, but `ob-restclient` doesn't have inheritance like Verb does (at least last time i tried it), so i would have to evaluate each previous code block in the heading hierarchy to have the

[2022-07-27 20:45] federicotdn commented on #45
Requests defined within Babel source blocks behave the same way as normal requests definitions - so you should be able to just define your headers on a top-level Org heading, and then have your Babel requests defined below:

[code]

So there, `My-Header: xyz` and `My-Other-Header: abc` will be shared among the two sub requests.

[2022-07-27 20:46] federicotdn commented on #40
I currently do not have the bandwidth to tackle this, however PRs are welcome of course.

[2022-07-27 20:46] #40 closed

[2022-08-26 16:55] MichaelXavier commented on #45
That works great. Thanks!

[2022-08-26 16:55] #45 closed

[2022-11-05 08:11] nicodebo opened #49 "http response buffer switching place with another buffer."
Hello,
Suppose I have 3 windows:
- org file with requests
- docker logs
- http response

After executing a new request with C-c C-r C-r, the docker logs and http response buffer switch place and so on.
Is it possible to make the http response stay on the same window ?